
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grabar</title>
</head>
<body>
    <div>
        <<form method="post" action="/Home/Grabar">
            <h1>Registro de peliculas</h1>
            <table class="auto-style1">
                <tr>
                    <td>Codigo</td>
                    <td>
                        <input type="text" name="Codigo" />
                    </td>
                </tr>
                <tr>
                    <td>Titulo</td>
                    <td>
                        <input type="text" name="Titulo" />
                    </td>
                </tr>
                <tr>
                    <td>Director</td>
                    <td>
                        <input type="text" name="Director" />
                    </td>
                </tr>
                <tr>
                    <td>Autor Principal</td>
                    <td>
                        <input type="text" name="AutorPrincipal" />
                    </td>
                </tr>
                <tr>
                    <td>No Autores</td>
                    <td>
                        <input type="text" name="numAutores" />
                    </td>
                </tr>
                <tr>
                    <td>Duracion</td>
                    <td>
                        <input type="text" name="Duracion" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">Estreno</td>
                    <td>
                        <input type="text" name="Estreno" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2"></td>
                    <td>
                        <input type="submit" name="Confirmar" />
                    </td>
                </tr>
            </table>
        </form>
     </div>
</body>
</html>
